[flake8]
max-line-length = 100
# E203 and W503 conflict with black's formatting of slices and line breaks.
extend-ignore = E203, W503
exclude =
    .git,
    .venv,
    __pycache__,
    build,
    dist,
    *.egg-info
